<div class="container-fluid">
  <!-- First Row -->
  <div class="row text-success text-center mt-3">
    <div class="col-md-4">
      <a
        href=""
        class="text-success"
        style="text-decoration: none"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <div class="card-body">
          <div class="card shadow">
            <h6>Add Faculty</h6>
            <p>+</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="" class="text-success" style="text-decoration: none">
        <div class="card-body">
          <div class="card shadow">
            <h6>Total Faculties</h6>
            <p>10</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- Add Faculty -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">
            Add Faculty
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="facultyDetailsForm" (ngSubmit)="addNewFaculty()">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                formControlName="faculty_name"
              />
              <label for="floatingInput">Full Name</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('faculty_name')?.invalid &&
                  (facultyDetailsForm.get('faculty_name')?.touched ||
                    facultyDetailsForm.get('faculty_name')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                formControlName="dapartment"
              />
              <label for="floatingInput">Department</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('department')?.invalid &&
                  (facultyDetailsForm.get('department')?.touched ||
                    facultyDetailsForm.get('department')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                formControlName="email"
              />
              <label for="floatingInput">Email</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('email')?.invalid &&
                  (facultyDetailsForm.get('email')?.touched ||
                    facultyDetailsForm.get('email')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                formControlName="password"
              />
              <label for="floatingPassword">Password</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('password')?.invalid &&
                  (facultyDetailsForm.get('password')?.touched ||
                    facultyDetailsForm.get('password')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="mobile_number"
              />
              <label for="floatingInput">Mobile Number</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('mobile_number')?.invalid &&
                  (facultyDetailsForm.get('mobile_number')?.touched ||
                    facultyDetailsForm.get('mobile_number')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="aadhaar_number"
              />
              <label for="floatingInput">Aadhaar Number</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('aadhaar_number')?.invalid &&
                  (facultyDetailsForm.get('aadhaar_number')?.touched ||
                    facultyDetailsForm.get('aadhaar_number')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="joining_year"
              />
              <label for="floatingInput">Joining Year</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('joining_year')?.invalid &&
                  (facultyDetailsForm.get('joining_year')?.touched ||
                    facultyDetailsForm.get('joining_year')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="date"
                class="form-control"
                id="floatingInput"
                formControlName="date_of_birth"
              />
              <label for="floatingInput">Date Of Birth</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('date_of_birth')?.invalid &&
                  (facultyDetailsForm.get('date_of_birth')?.touched ||
                    facultyDetailsForm.get('date_of_birth')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <button type="button" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
