<div class="container-fluid">
  <!-- First Row -->
  <div class="row text-success text-center mt-3">
    <div class="col-md-4">
      <a
        href=""
        class="text-success"
        style="text-decoration: none"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <div class="card shadow">
          <div class="card-body">
            <h6>Add Faculty</h6>
            <p>+</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="" class="text-success" style="text-decoration: none">
        <div class="card shadow">
          <div class="card-body">
            <h6>Total Faculties</h6>
            <p>10</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row pe-2 mt-3">
    <div class="col-sm-12 text-center">
      <div>
        <div class="card-shadow">
          <div class="card-body">
            <h6 class="text-success">List of Faculties</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faculty of allFaculties">
        <td>{{ faculty.faculty_number }}</td>
        <td>{{ faculty.faculty_name }}</td>
        <td>{{ faculty.department }}</td>
        <td>{{ faculty.email }}</td>
        <td>{{ faculty.mobile_number }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-secondary me-2"
            data-bs-toggle="modal"
            data-bs-target="#viewModal"
            (click)="viewFaculty(faculty)"
          >
            View</button
          >
          <button type="button" class="btn btn-outline-primary me-2"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
          (click)="viewFaculty(faculty)"
          >
            Edit</button
          ><button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </div>

  <!-- View Faculty -->

  <div
    class="modal fade"
    id="viewModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Faculty Details
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td scope="row"><b>Faculty Number</b></td>
                <td>{{ facultyDetailsForm.get("faculty_number")?.value }}</td>
              </tr>

              <tr>
                <td scope="row"><b>Faculty Name</b></td>
                <td>{{ facultyDetailsForm.get("faculty_name")?.value }}</td>
              </tr>
              <tr>
                <td scope="row"><b>Department</b></td>
                <td>{{ facultyDetailsForm.get("department")?.value }}</td>
              </tr>
              <tr>
                <td scope="row"><b>Mobile Number</b></td>
                <td>{{ facultyDetailsForm.get("mobile_number")?.value }}</td>
              </tr>
              <tr>
                <td scope="row"><b>Aadhaar Number</b></td>
                <td>{{ facultyDetailsForm.get("aadhaar_number")?.value }}</td>
              </tr>
              <tr>
                <td scope="row"><b>Joining Year</b></td>
                <td>{{ facultyDetailsForm.get("joining_year")?.value }}</td>
              </tr>
              <tr>
                <td scope="row"><b>Date Of Birth</b></td>
                <td>{{ facultyDetailsForm.get("date_of_birth")?.value }}</td>
              </tr>
              <tr>
                <td scope="row"><b>Email</b></td>
                <td>{{ facultyDetailsForm.get("email")?.value }}</td>
              </tr>
            </tbody>
          </table>
          <button
            type="button"
            class="btn btn-outline-success"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Faculty -->
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true"
    #editModal

  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-success" id="editModalLabel">
            Edit Faculty
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="facultyDetailsForm" (ngSubmit)="editFaculty()">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                formControlName="faculty_name"
              />
              <label for="floatingInput">Full Name</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('faculty_name')?.invalid &&
                  (facultyDetailsForm.get('faculty_name')?.touched ||
                    facultyDetailsForm.get('faculty_name')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                formControlName="department"

              />
              <label for="floatingInput">Department</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('department')?.invalid &&
                  (facultyDetailsForm.get('department')?.touched ||
                    facultyDetailsForm.get('department')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                formControlName="email"
              />
              <label for="floatingInput">Email</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('email')?.invalid &&
                  (facultyDetailsForm.get('email')?.touched ||
                    facultyDetailsForm.get('email')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                formControlName="password"
              />
              <label for="floatingPassword">Password</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('password')?.invalid &&
                  (facultyDetailsForm.get('password')?.touched ||
                    facultyDetailsForm.get('password')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="mobile_number"
              />
              <label for="floatingInput">Mobile Number</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('mobile_number')?.invalid &&
                  facultyDetailsForm.get('mobile_number')?.touched
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="aadhaar_number"
              />
              <label for="floatingInput">Aadhaar Number</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('aadhaar_number')?.invalid &&
                  facultyDetailsForm.get('aadhaar_number')?.touched
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="joining_year"
              />
              <label for="floatingInput">Joining Year</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('joining_year')?.invalid &&
                  facultyDetailsForm.get('joining_year')?.touched
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="date"
                class="form-control"
                id="floatingInput"
                formControlName="date_of_birth"
              />
              <label for="floatingInput">Date Of Birth</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('date_of_birth')?.invalid &&
                  (facultyDetailsForm.get('date_of_birth')?.touched ||
                    facultyDetailsForm.get('date_of_birth')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <!-- Add this just above your form -->
            <div *ngIf="facultyDetailsForm.invalid" class="alert alert-warning">
              Form Status: {{ facultyDetailsForm.status }}
              <ul>
                <li *ngFor="let error of getFormValidationErrors()">
                  {{ error }}
                </li>
              </ul>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="facultyDetailsForm.invalid"
            >
              Update Faculty
            </button>
            <button
            type="button"
            class="btn btn-outline-success"
            data-bs-dismiss="modal"
            #closeBtn
          >
            Close
          </button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- Add Faculty -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">
            Add Faculty
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="facultyDetailsForm" (ngSubmit)="addNewFaculty()">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                formControlName="faculty_name"
              />
              <label for="floatingInput">Full Name</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('faculty_name')?.invalid &&
                  (facultyDetailsForm.get('faculty_name')?.touched ||
                    facultyDetailsForm.get('faculty_name')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                formControlName="department"
              />
              <label for="floatingInput">Department</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('department')?.invalid &&
                  (facultyDetailsForm.get('department')?.touched ||
                    facultyDetailsForm.get('department')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                formControlName="email"
              />
              <label for="floatingInput">Email</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('email')?.invalid &&
                  (facultyDetailsForm.get('email')?.touched ||
                    facultyDetailsForm.get('email')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                formControlName="password"
              />
              <label for="floatingPassword">Password</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('password')?.invalid &&
                  (facultyDetailsForm.get('password')?.touched ||
                    facultyDetailsForm.get('password')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="mobile_number"
              />
              <label for="floatingInput">Mobile Number</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('mobile_number')?.invalid &&
                  facultyDetailsForm.get('mobile_number')?.touched
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="aadhaar_number"
              />
              <label for="floatingInput">Aadhaar Number</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('aadhaar_number')?.invalid &&
                  facultyDetailsForm.get('aadhaar_number')?.touched
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingInput"
                formControlName="joining_year"
              />
              <label for="floatingInput">Joining Year</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('joining_year')?.invalid &&
                  facultyDetailsForm.get('joining_year')?.touched
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="date"
                class="form-control"
                id="floatingInput"
                formControlName="date_of_birth"
              />
              <label for="floatingInput">Date Of Birth</label>
              <div
                *ngIf="
                  facultyDetailsForm.get('date_of_birth')?.invalid &&
                  (facultyDetailsForm.get('date_of_birth')?.touched ||
                    facultyDetailsForm.get('date_of_birth')?.dirty)
                "
                class="text-danger"
              >
                This field is required
              </div>
            </div>

            <!-- Add this just above your form -->
            <div *ngIf="facultyDetailsForm.invalid" class="alert alert-warning">
              Form Status: {{ facultyDetailsForm.status }}
              <ul>
                <li *ngFor="let error of getFormValidationErrors()">
                  {{ error }}
                </li>
              </ul>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="facultyDetailsForm.invalid"
            >
              Save changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
