<div class="container-fluid d-flex justify-content-center align-items-center backgroundLogin">
    <div class="col-md-3" style="height: 400px">
      <div class="card shadow p-4" style="height: 400px !important">
        <div class="row my-5">
          <form [formGroup]="adminLoginData" (ngSubmit)="adminLogin()">
            <h4 class="text-success">Admin Login</h4>
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input
                type="text"
                id="email"
                class="form-control"
                aria-describedby="emailHelp"
                formControlName="userName"
              />
              @if (adminLoginData.get('userName')?.invalid &&
              (adminLoginData.get('userName')?.dirty ||
              adminLoginData.get('userName')?.touched)) {
              <p class="text-danger">This field is required</p>
              }
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="text"
                id="password"
                class="form-control"
                formControlName="password"
              />
              @if (adminLoginData.get('password')?.invalid &&
              (adminLoginData.get('password')?.dirty ||
              adminLoginData.get('userName')?.touched)) {
              <p class="text-danger">This field is required</p>
              }
            </div>
            <div class="mb-3">
              <button
                type="submit"
                class="btn btn-outline-success me-2 ms-auto"
                [disabled]="adminLoginData.invalid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
