<div>
  <div>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
  </div>
  <div>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
    <p>faculty-trainings works!</p>
  </div>
</div>
